<div class="row">
    <div class="col-3">
        <button mat-dialog-close (click)="close()" class="btn btn-sm btn-primary">
            <i class="fas fa-arrow-circle-left"></i>
        </button>
    </div>
    <div class="col-6">
        <h3 class="text-center">Supplier Offer</h3>
    </div>
</div>
<hr>
<!-- Pricing -->
<div id="pricing" class="cards-2">
    <div class="container">
        <div class="row mb-10">
            <div class="col-lg-12">
                <h2>Mau jadi Supplier?</h2>
                <p class="p-heading p-large">Posting barang-barang kamu disini, Crowd kami akan bantu untuk cualin barang-barang  kamu</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="label">
                    </div>
                    <div class="card-body">
                        <div class="card-title">Supplier</div>
                        <div class="card-subtitle">Boost Your Business with Upgrade Your Account !</div>
                        <hr class="cell-divide-hr">
                        <div class="price">
                            <span class="currency"></span><span class="value"> 10%</span>
                            <div class="frequency">commission</div>
                        </div>
                        <hr class="cell-divide-hr">
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">Feature Up-to-date</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">Feature Up-to-date</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">Feature Up-to-date</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">Feature Up-to-date</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">Feature Up-to-date</div>
                            </li>
                        </ul>
                        <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll text-white" (click)="formSignSupplier()">REQUEST</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>