<mat-dialog-content>
    <div class="row">
        <div class="col-3">
            <button mat-dialog-close class="btn btn-sm btn-primary">
                <i class="fas fa-arrow-circle-left"></i>
            </button>
        </div>
        <div class="col-6">
            <h3 class="text-center">Business Offer</h3>
        </div>
    </div>
    <hr>
    <!-- Pricing -->
    <div id="pricing" class="cards-2">
        <div class="container">
            <div class="row mb-10">
                <div class="col-lg-12">
                    <h2>Mau Manage Karyawan Kamu?</h2>
                    <p class="p-heading p-large">Platform kami bisa membantu kamu untuk membagikan task dan
                        me-monitoring
                        kerjaan karyawan kamu</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Business</div>
                            <div class="card-subtitle">Boost Your Business with Upgrade Your Account !</div>
                            <hr class="cell-divide-hr">
                            <div class="price">
                                <span class="currency"></span><span class="value">300k</span>
                                <div class="frequency">monthly</div>
                            </div>
                            <hr class="cell-divide-hr">
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-check"></i>
                                    <div class="media-body">Feature Up-to-date</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i>
                                    <div class="media-body">Feature Up-to-date</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-times"></i>
                                    <div class="media-body">Feature Up-to-date</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-times"></i>
                                    <div class="media-body">Feature Up-to-date</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-times"></i>
                                    <div class="media-body">Feature Up-to-date</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg page-scroll text-white" (click)="formSignBusiness()">REQUEST</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>