<div class="dt-page__header">
    <gx-breadcrumbs displayAs="nav" class="mb-0" [data]="breadcrumb"></gx-breadcrumbs>
</div>

<form (ngSubmit)="loadQuestionnaire()" #searchTableForm="ngForm" class="form-inline mb-2"
    style="justify-content: flex-end;">
    <div class="form-group mr-2" style="flex:1">
        <label for="project-list-search" class="sr-only">Search</label>
        <input [(ngModel)]="query" type="text" class="form-control p-2 search-control" name="project-list-search"
            id="project-list-search" placeholder="Search Form">
        <button type="submit" class="btn btn-primary btn-sm ml-2 p-2" style="width: 44px;" ngbTooltip="Search">
            &nbsp;<i class="fas fa-search"></i>&nbsp;
        </button>
        <button (click)="filterQuestionnaire()" class="btn btn-primary btn-sm ml-2 p-2 text-white search-control" style="width: 44px;" ngbTooltip="Filter Questionnaire">
            <i class="fa fa-filter"></i>
        </button>
    </div>
    <div class="ml-5" *ngIf="isLoading">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</form>

<div class="row p-2">
    <div class="card" style="width: 18rem;">
        <div class="flex-center-cwh">
            <a href="javascript:void(0)" (click)="openFormDialog()" style="height: 75%;">
                <img class="card-img-top"  src="assets/images/add-questionnaire.png"
                    alt="Card image cap">
            </a>
            <p class="" style="font-weight: 600;font-size: 0.9em;margin-top: 24px;">New Form</p>
        </div>
    </div>
    <div *ngFor="let questionnaire of questionnaires; let i = index;" class="card" style="width: 18rem;">
        <div class="flex-center-cwh">
            <a [routerLink]="['/questionnaire/form',questionnaire.uuid]" style="height: 60%;position: relative">
                <img class="card-img-top card-custom"
                    src="assets/images/logo_vertical.png"
                    alt="Card image cap">
            </a>
            <p class="mt-3" style="font-weight: 600;font-size: 0.85em;">Form Komando Minimarket</p>
            <p class="text-muted" style="font-size: 0.6em;margin-top: -15px;">
                Created: 27/08/2020 | Last Opened: today
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 mt-5">
        <div class="form-group form-row">
            <label class="col-xl-2 col-form-label" style="padding: 10px 0px 0px 20px !important;">Number of Rows</label>
            <div class="col-xl-2">
                <div class="custom-control custom-checkbox" style="padding-left: 0 !important; width: 70% !important;">
                    <select class="form-control search-control" name="project-list-offset" id="project-list-offset"
                        [(ngModel)]="pageOffset" (change)="loadQuestionnaire()" style="font-size: 10px;">
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 text-right mt-5">
        <ngb-pagination class="d-flex justify-content-end" [maxSize]="maxPageSize" [pageSize]="pageOffset"
            [collectionSize]="rowCount" [(page)]="page" (pageChange)="page = $event; loadQuestionnaire()">
        </ngb-pagination>
    </div>
</div>