<mat-dialog-content>
    <div class="row">
        <div class="col-3">
            <button mat-dialog-close class="btn btn-sm btn-primary">
                <i class="fas fa-arrow-circle-left"></i>
            </button>
        </div>
        <div class="col-6">
            <h3 class="text-center">Billing Information</h3>
        </div>
    </div>
    <hr>
    <div class="col-12" style="margin-top:0; padding: 0;">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="name">Store Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Enter your Name">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="name">Store Address</label>
                    <textarea class="form-control" rows="5" placeholder="Enter your Address"></textarea>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="brand">City</label>
                    <input type="text" name="brand" class="form-control" placeholder="Enter your City">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="brand">Province</label>
                    <input type="text" name="brand" class="form-control" placeholder="Enter your state/province/region">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="brand">Map</label>
                    <input type="text" name="brand" class="form-control" placeholder="Enter your Address in Map">
                </div>
            </div>
        </div>
        <div class="flex-d" style="text-align: right;">
            <button mat-dialog-close style="width: 10%;" class="btn btn-primary mr-2 p-2"
                title="Cancel"><i class="fas fa-times-circle"></i></button>
            <button style="width: 10%;" class="btn btn-primary mr-2 p-2" title="Save"><i
                    class="fas fa-save"></i></button>
        </div>
    </div>
</mat-dialog-content>