<h4 mat-dialog-title>Save New Filter</h4>

<div class="mat-dialog-content">
    <div class="content-item">
        <div>Name</div>
        <mat-form-field style="width: 100%;margin-top: 13px;">
            <input class="input-custom-value" type="text" required placeholder="Filter Name" />
        </mat-form-field>
    </div>
    <div class="row">
        <div class="col-md-12" align="right">
            <button class="btn btn-primary btn-lg p-2 mb-2 text-white" style="width: 125px;margin-top: 35px;" (click)="saveFilter()">
                Save
            </button>
        </div>
    </div>
</div>