.content-item {
    display: grid;
    gap: 1rem;
    grid-template-columns: 20% auto;
    font-weight: 400;
    font-size: 1.1em;
    height: 60px;
    align-items: center;
}

.input-custom-value{
    border: none !important;
    border-bottom: 1px solid #000 !important;
    outline: none !important;
    padding: 10px 3px;
    width: 100%;
}