<h4 mat-dialog-title>New Template Filter</h4>
<mat-dialog-content>
    <mat-horizontal-stepper linear #stepper>
        <mat-step state="first" label="Opsi Filter">
            <div class="row">
                <div class="col-md-12" align="center">
                    <p class="title">Pilih opsi filter</p>
                    <button mat-button class="
                        btn btn-outline-primary
                        mb-2
                        btn-lg
                        ml-2
                        p-2
                        text-white
                        btn-filter
                        " (click)="nextStep(stepper, 1)">
                        Proximity
                    </button>
                    <button mat-button class="
              btn btn-outline-primary
              mb-2
              btn-lg
              ml-2
              p-2
              text-white
              btn-filter
            " (click)="nextStep(stepper, 2)">
                        Custom Area
                    </button>
                    <button mat-button class="
              btn btn-outline-primary
              mb-2
              btn-lg
              ml-2
              p-2
              text-white
              btn-filter
            " (click)="nextStep(stepper, 3)">
                        Administrative Area
                    </button>
                </div>
            </div>
        </mat-step>
        <mat-step state="second" label="Setup Filter">

            <!-- Proximity -->
            <div *ngIf="identifier === 1" class="row">
                <div class="col-md-12">
                    <h5 style="color: #c7bebe; font-weight: 600; font-size: 1.2em">
                        Proximity
                    </h5>
                </div>
                <div class="col-md-6">
                    <!-- select location -->
                    <label for="" class="font-weight-500">Lokasi</label>
                    <div class="input-group-proxy">
                        <span>
                            <i class="fas fa-map-pin text-primary"></i>
                        </span>
                        <input class="form-control" type="text" #searchLocation [(ngModel)]="proximityArea.location" name="location" placeholder="Pilih lokasi" required
                            (ngModelChange)="searchLocationProx($event)" />
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- select radius -->
                    <label for="" class="font-weight-500">Radius (in meters)</label>
                    <input class="form-control" type="number" #raidus="ngModel" [(ngModel)]="proximityArea.radius" name="raidus"
                        required />
                </div>
            </div>

            <!-- Custom -->
            <div *ngIf="identifier === 2" class="row">
                <div class="col-md-12">
                    <h5 style="color: #c7bebe; font-weight: 600; font-size: 1.2em">
                        Custom Area <button class="btn btn-outline-primary btn-sm ml-1"><i class="fas fa-cog" style="font-size: 20px;"></i></button>
                    </h5>
                </div>
                
                <!-- <div class="col-md-12">
                    <div #customMap style="width: 100%;height: 250px;"></div>
                </div> -->
                
                <!-- using agm -->
                <div class="col-md-12">
                    <agm-map [latitude]="pointCustom.lat" [longitude]="pointCustom.lng"
                        (mapClick)="onMapCustomAreaReady($event)">
                        <agm-polyline [strokeWeight]="3" [strokeColor]="'#07b57a'">
                            <agm-polyline-point *ngFor="let coordinate of listCoordinat; let i=index"
                                [latitude]="coordinate.lat" [longitude]="coordinate.lng"></agm-polyline-point>
                        </agm-polyline>
                    </agm-map>
                </div>
            </div>

            <!-- Administrative -->
            <div *ngIf="identifier === 3" class="row">
                <div class="col-md-12">
                    <h5 style="color: #c7bebe; font-weight: 600; font-size: 1.2em">
                        Administrative Area
                    </h5>
                </div>
                <!-- province -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="font-weight-600">Provinsi</label>
                        <select [(ngModel)]="administrativeArea.province" class="form-control bg-secondary">
                            <option value="">Pilih Provinsi</option>
                            <option *ngFor="let option of listProvince" [value]="option.name">
                                {{ option.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- city -->
                <div class="col-md-6">
                    <label for="" class="font-weight-600">Kota/ Kabupaten</label>
                    <select id="" [(ngModel)]="administrativeArea.city" class="form-control bg-secondary">
                        <option value="">Pilih Kota/Kabupaten</option>
                        <option value="" *ngFor="let option of listCity" [value]="option.name">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
                <!-- Kecamatan -->
                <div class="col-md-6">
                    <label for="" class="font-weight-600">Kecamatan</label>
                    <input class="form-control bg-secondary" type="text" #district="ngModel" [(ngModel)]="administrativeArea.district"
                        name="district" required placeholder="Input kecamatan" />
                </div>
                <!-- Kelurahan -->
                <div class="col-md-6">
                    <label for="" class="font-weight-600">Desa/Kelurahan</label>
                    <input class="form-control bg-secondary" type="text" #subdistrict="ngModel" [(ngModel)]="administrativeArea.subdistrict"
                        name="subdistrict" required placeholder="Input kecamatan" />
                </div>
            </div>

            <div class="row mt-3" *ngIf="!valueOpen">
                <div class="col-md-12">
                    <p style="color: #4d7db3; text-transform: capitalize;">
                        <span (click)="addValue()" style="cursor: pointer;">+ add value</span>
                    </p>
                </div>
            </div>

            <div [hidden]="!valueOpen" class="mt-5">
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="font-weight-600">Type</label>
                        <select class="form-control" name="type_1" [(ngModel)]="filter.type" required>
                            <option value="">INCLUDE</option>
                            <option value="type 1"> Type 1 </option>
                            <option value="type 2"> Type 2 </option>
                            <option value="type 3"> Type 3 </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="font-weight-600">Property</label>
                        <select class="form-control" [(ngModel)]="filter.property" required name="property_1">
                            <option value="">Select</option>
                            <option value="property 1"> Property 1 </option>
                            <option value="property 2"> Property 2 </option>
                            <option value="property 3"> Property 3 </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="font-weight-600">Operator</label>
                        <select class="form-control" [(ngModel)]="filter.operator" required name="operator_1">
                            <option value="">Select</option>
                            <option value="operator 1"> Operator 1 </option>
                            <option value="operator 2"> Operator 2 </option>
                            <option value="operator 3"> Operator 3 </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="font-weight-600">Value</label>
                        <input class="input-custom-value" type="text" [(ngModel)]="filter.value" name="value_1" required
                            placeholder="Enter Value" />
                    </div>
                    <div class="col-md-2">
                        <p style="margin-left: 10px;margin-top: 10px;" class="text-primary">OR <span><i class="fa fa-times ml-2"
                                    style="color: #8a8a8a;margin-top: 15px;"></i></span></p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="font-weight-600">Type</label>
                        <select class="form-control" name="type_2" [(ngModel)]="filter.type" required>
                            <option value="">INCLUDE</option>
                            <option value="type 1"> Type 1 </option>
                            <option value="type 2"> Type 2 </option>
                            <option value="type 3"> Type 3 </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="font-weight-600">Property</label>
                        <select class="form-control" [(ngModel)]="filter.property" required name="property_2">
                            <option value="">Select</option>
                            <option value="property 1"> Property 1 </option>
                            <option value="property 2"> Property 2 </option>
                            <option value="property 3"> Property 3 </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="font-weight-600">Operator</label>
                        <select class="form-control" [(ngModel)]="filter.operator" required name="operator_2">
                            <option value="">Select</option>
                            <option value="operator 1"> Operator 1 </option>
                            <option value="operator 2"> Operator 2 </option>
                            <option value="operator 3"> Operator 3 </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="font-weight-600">Value</label>
                        <input class="input-custom-value" type="text" [(ngModel)]="filter.value" name="value_2" required
                            placeholder="Enter Value" />
                    </div>
                    <div class="col-md-2">
                        <p style="margin-left: 10px;margin-top: 10px;" class="text-primary">OR <span><i class="fa fa-times ml-2"
                                    style="color: #8a8a8a;margin-top: 15px;"></i></span></p>
                    </div>
                </div>
                <!-- pembatas -->
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div style="width: 100%;border: 1px solid #000;height: 1px;"></div>
                        <div style="width: 1px;border: 1px solid #000;height: 15px;margin-left: 25px;margin-top: 5px;">
                        </div>
                        <p style="margin-left:15px;margin-top: 8px;">AND</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="font-weight-600">Type</label>
                        <select class="form-control" name="type_3" [(ngModel)]="filter.type" required>
                            <option value="">INCLUDE</option>
                            <option value="type 1"> Type 1 </option>
                            <option value="type 2"> Type 2 </option>
                            <option value="type 3"> Type 3 </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="font-weight-600">Property</label>
                        <select class="form-control" [(ngModel)]="filter.property" required name="property_3">
                            <option value="">Select</option>
                            <option value="property 1"> Property 1 </option>
                            <option value="property 2"> Property 2 </option>
                            <option value="property 3"> Property 3 </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="font-weight-600">Operator</label>
                        <select class="form-control" [(ngModel)]="filter.operator" required name="operator_3">
                            <option value="">Select</option>
                            <option value="operator 1"> Operator 1 </option>
                            <option value="operator 2"> Operator 2 </option>
                            <option value="operator 3"> Operator 3 </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="font-weight-600">Value</label>
                        <input class="input-custom-value" type="text" [(ngModel)]="filter.value" name="value_3" required
                            placeholder="Enter Value" />
                    </div>
                    <div class="col-md-2">
                        <p style="margin-left: 10px;margin-top: 10px;" class="text-primary">OR <span><i class="fa fa-times ml-2"
                                    style="color: #8a8a8a;margin-top: 15px;"></i></span></p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <button mat-button class="btn btn-primary btn-lg p-2 mb-2 mr-2 text-white" style="width: 80px"
                            (click)="addInput()">
                            <i class="fa fas fa-map-pin text-white mr-2"></i> AND
                        </button>
                        <!-- <button mat-button class="btn btn-outline-primary btn-lg p-2 mb-2 text-dark" style="width: 80px"
                            (click)="addInput(0)">
                            <i class="fa fa-grip-lines-vertical mr-2"></i> OR
                        </button> -->
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 40px">
                <div class="col-md-6">
                    <span matStepperPrevious (click)="backStep(stepper)" style="cursor: pointer;">
                        < Kembali</span>
                </div>
                <div class="col-md-6" align="right">
                    <button mat-button class="btn btn-primary btn-lg p-2 mb-2 text-white" style="width: 100px"
                        (click)="openSaveFilterDialog()" mat-dialog-close>
                        Apply
                    </button>
                </div>
            </div>
        </mat-step>

        <ng-template matStepperIcon="first">
            <mat-icon></mat-icon>
        </ng-template>
    </mat-horizontal-stepper>
</mat-dialog-content>