.col-md-12{
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // width: 100%;
    .title{
        text-align: center;
        font-weight: 600;
        font-size: 1.15em;
    }
    .btn-filter{
        color: #000 !important;
        text-align: left;
        width: 50%;
        border-color: #000;
        padding-left: 7px;
    }
}


::ng-deep .administrative-area .mat-form-field-outline{
    /*change color of label*/
    background-color: #8a8a8a !important;
    border-radius: 7px !important;
}

agm-map{
    height: 300px;
    margin-bottom: 15px;
}

.font-weight-600{
    font-size: 15px !important;
}

.bg-secondary{
    background-color: #f3f1f2 !important;
    color: #000 !important;
    font-weight: 500;
    &::placeholder{
        color: #000 !important;
    }
}

.input-custom-value{
    border: none !important;
    border-bottom: 1px solid #000 !important;
    outline: none !important;
    padding: 10px 3px;
}

select option{
    background: #fff !important;
    color: #000;
}

.input-group-proxy {
    span{
        position: absolute;
        margin-left: 10px;
        height: 40px;
        display: flex;
        align-items: center;
    }
    input{
        padding-left: 25px !important;
    }
}

